body{
    background-image: url('../../assets/site-down.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}
h2{
    text-align: center;
}